keystore "file:/c:/java/ch8/mypermission/SignedPerm/clienttrustlf", "JKS";
grant codeBase "file:/c:/java/ch8/-" {
  permission my.test.RatePermission "setR", signedBy "lf";
};

