DIV.ibm-landing-page #ibm-content-body {
	BACKGROUND: #fff no-repeat 0px 0px
}
DIV.ibm-landing-page #ibm-pcon {
	BACKGROUND: #fff no-repeat 0px 0px
}
#ibm-pcon {
	BACKGROUND: #fff no-repeat 0px 0px
}
#ibm-footer {
	BACKGROUND: #fff no-repeat 0px 0px
}
DIV.ibm-landing-page #ibm-pcon {
	PADDING-TOP: 0px
}
#ibm-metrics {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #ccc; HEIGHT: 0px; PADDING-TOP: 0px
}
#ibm-page-tools {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
#ibm-footer {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 0px; COLOR: #fff; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
DIV.ibm-landing-page #ibm-content {
	BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 99% 0px
}
.dwwordmark#ibm-content-head {
	BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 99% 0px
}
#dw-footer-module {
	PADDING-BOTTOM: 30px; BACKGROUND-COLOR: #fff
}
#dw-footer-module .footer-module-container .footer-module-column-first {
	WIDTH: 360px; PADDING-TOP: 8px
}
#dw-footer-module IMG.footer-promotion-image.footer-module-image {
	PADDING-LEFT: 0px; PADDING-RIGHT: 20px
}
#dw-footer-module .footer-module-container .footer-module-column-second {
	WIDTH: 20px
}
#dw-footer-module .footer-module-container .footer-module-column-third {
	WIDTH: 500px
}
#ibm-masthead-dw UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#ibm-masthead-dw LI {
	LIST-STYLE-TYPE: none
}
#dw-masthead-top-row {
	BORDER-BOTTOM: #444 1px solid; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000'); BACKGROUND-COLOR: #000; WIDTH: 930px; HEIGHT: 34px; OVERFLOW: hidden
}
#dw-masthead-top-row LI#ibm-logo {
	FLOAT: left
}
#dw-masthead-top-row UL#ibm-mast-options-dw {
	PADDING-RIGHT: 10px
}
#dw-masthead-top-row LI#dw-mast-top-0 {
	FLOAT: right
}
#dw-masthead-top-row LI#dw-mast-top-1 {
	FLOAT: right
}
#dw-masthead-top-row LI A {
	FONT-FAMILY: arial, sans-serif; COLOR: #999; FONT-SIZE: 14px; FONT-WEIGHT: normal; TEXT-DECORATION: none; -webkit-font-smoothing: antialiased
}
#dw-masthead-top-row #ibm-unav-home-dw LI {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
#dw-masthead-top-row #ibm-unav-home-dw LI#ibm-logo {
	PADDING-RIGHT: 100px
}
#dw-masthead-top-row #ibm-unav-home-dw LI.ibm-logo-br#ibm-logo {
	PADDING-RIGHT: 450px
}
#dw-masthead-top-row #ibm-mast-options-dw LI {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 6px
}
IMG.dw-preload {
	DISPLAY: none
}
#dw-masthead-top-row LI#dw-mast-top-1 {
	MARGIN-RIGHT: 34px
}
#dw-masthead-top-row LI#dw-mast-top-1 A {
	PADDING-RIGHT: 20px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
#dw-masthead-top-row LI#dw-mast-top-1 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI#dw-mast-top-1 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-cn#dw-mast-top-1 A {
	PADDING-RIGHT: 20px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
#dw-masthead-top-row LI.dw-mast-top-1-cn#dw-mast-top-1 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-cn#dw-mast-top-1 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-br#dw-mast-top-1 A {
	PADDING-RIGHT: 20px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
#dw-masthead-top-row LI.dw-mast-top-1-br#dw-mast-top-1 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-br#dw-mast-top-1 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-ssa#dw-mast-top-1 A {
	PADDING-RIGHT: 20px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
#dw-masthead-top-row LI.dw-mast-top-1-ssa#dw-mast-top-1 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-ssa#dw-mast-top-1 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-ru#dw-mast-top-1 A {
	PADDING-RIGHT: 20px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
#dw-masthead-top-row LI.dw-mast-top-1-ru#dw-mast-top-1 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-ru#dw-mast-top-1 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-jp#dw-mast-top-1 A {
	PADDING-RIGHT: 20px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
#dw-masthead-top-row LI.dw-mast-top-1-jp#dw-mast-top-1 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-jp#dw-mast-top-1 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-kr#dw-mast-top-1 A {
	PADDING-RIGHT: 20px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
#dw-masthead-top-row LI.dw-mast-top-1-kr#dw-mast-top-1 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-kr#dw-mast-top-1 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-vn#dw-mast-top-1 A {
	PADDING-RIGHT: 20px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
#dw-masthead-top-row LI.dw-mast-top-1-vn#dw-mast-top-1 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI.dw-mast-top-1-vn#dw-mast-top-1 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI#dw-mast-top-0 A.dw-mf-noscript:hover {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 134px 5px; COLOR: #666; CURSOR: default
}
#dw-masthead-top-row LI#dw-mast-top-0 A.dw-mf-noscript {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 134px 5px; COLOR: #666; CURSOR: default
}
#dw-masthead-top-row LI.authenticated#dw-mast-top-0:hover {
	BACKGROUND-COLOR: #000
}
#dw-masthead-top-row LI.popen.authenticated#dw-mast-top-0 {
	BACKGROUND-COLOR: #000
}
#dw-masthead-top-row LI#dw-mast-top-0 A {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
#dw-masthead-top-row LI#dw-mast-top-0 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
#dw-masthead-top-row LI#dw-mast-top-0 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.ssa#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript:hover {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 154px 5px; COLOR: #666; CURSOR: default
}
.ssa#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 154px 5px; COLOR: #666; CURSOR: default
}
.ssa#ibm-mast-options-dw LI#dw-mast-top-0 A {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
.ssa#ibm-mast-options-dw LI#dw-mast-top-0 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.ssa#ibm-mast-options-dw LI#dw-mast-top-0 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.cn#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript:hover {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 96px 5px; COLOR: #666; CURSOR: default
}
.cn#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 96px 5px; COLOR: #666; CURSOR: default
}
.cn#ibm-mast-options-dw LI#dw-mast-top-0 A {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
.cn#ibm-mast-options-dw LI#dw-mast-top-0 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.cn#ibm-mast-options-dw LI#dw-mast-top-0 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.jp#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript:hover {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 160px 5px; COLOR: #666; CURSOR: default
}
.jp#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 160px 5px; COLOR: #666; CURSOR: default
}
.jp#ibm-mast-options-dw LI#dw-mast-top-0 A {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
.jp#ibm-mast-options-dw LI#dw-mast-top-0 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.jp#ibm-mast-options-dw LI#dw-mast-top-0 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.br#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript:hover {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 176px 5px; COLOR: #666; CURSOR: default
}
.br#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 176px 5px; COLOR: #666; CURSOR: default
}
.br#ibm-mast-options-dw LI#dw-mast-top-0 A {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
.br#ibm-mast-options-dw LI#dw-mast-top-0 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.br#ibm-mast-options-dw LI#dw-mast-top-0 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.ru#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript:hover {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 178px 5px; COLOR: #666; CURSOR: default
}
.ru#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 178px 5px; COLOR: #666; CURSOR: default
}
.ru#ibm-mast-options-dw LI#dw-mast-top-0 A {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
.ru#ibm-mast-options-dw LI#dw-mast-top-0 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.ru#ibm-mast-options-dw LI#dw-mast-top-0 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.kr#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript:hover {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 128px 5px; COLOR: #666; CURSOR: default
}
.kr#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 128px 5px; COLOR: #666; CURSOR: default
}
.kr#ibm-mast-options-dw LI#dw-mast-top-0 A {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
.kr#ibm-mast-options-dw LI#dw-mast-top-0 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.kr#ibm-mast-options-dw LI#dw-mast-top-0 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.vn#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript:hover {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 183px 5px; COLOR: #666; CURSOR: default
}
.vn#ibm-mast-options-dw LI#dw-mast-top-0 A.dw-mf-noscript {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/i/c.gif) no-repeat 183px 5px; COLOR: #666; CURSOR: default
}
.vn#ibm-mast-options-dw LI#dw-mast-top-0 A {
	PADDING-RIGHT: 22px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center
}
.vn#ibm-mast-options-dw LI#dw-mast-top-0 A.current {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.vn#ibm-mast-options-dw LI#dw-mast-top-0 A:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-active.gif) no-repeat right center; COLOR: #ccc
}
.cn#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
.cn#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated.current {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
.ssa#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
.ssa#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated.current {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
.jp#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
.jp#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated.current {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
.vn#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
.vn#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated.current {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
.kr#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
.kr#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated.current {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
.ru#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
.ru#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated.current {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
.br#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
.br#ibm-mast-options-dw LI#dw-mast-top-0 A.authenticated.current {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
#dw-masthead-top-row LI#dw-mast-top-0 A.authenticated {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
#dw-masthead-top-row LI#dw-mast-top-0 A.authenticated.current {
	DISPLAY: inline-block; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down.gif) no-repeat right center; COLOR: #f3ae0b; FONT-WEIGHT: bold
}
IMG.dw-mast-profimg {
	MARGIN-TOP: 1px; MARGIN-LEFT: 6px; VERTICAL-ALIGN: -5px; TOP: 0px; MARGIN-RIGHT: -2px
}
.dw-mf-hide {
	DISPLAY: none
}
#ibm-search-form {
	PADDING-BOTTOM: 5px; WIDTH: 200px; FLOAT: right; CLEAR: right; PADDING-TOP: 6px
}
#ibm-universal-nav-dw #ibm-search-form P {
	POSITION: relative !important; MARGIN-RIGHT: 80px
}
#ibm-universal-nav-dw INPUT#q {
	PADDING-BOTTOM: 4px; TEXT-INDENT: 3px; PADDING-LEFT: 5px; WIDTH: 174px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/dw-mf-search-sprite.gif) no-repeat 0px -75px; COLOR: #666; FONT-SIZE: 12px; PADDING-TOP: 5px
}
#ibm-universal-nav-dw INPUT#q:focus {
	COLOR: #000000
}
#ibm-universal-nav-dw INPUT.ibm-btn-search {
	CLIP: rect(4px 20px 24px 0px); POSITION: absolute !important; PADDING-BOTTOM: 0px !important; MARGIN-TOP: 0px; TEXT-INDENT: -999em; PADDING-LEFT: 0px !important; WIDTH: 20px; PADDING-RIGHT: 0px !important; DISPLAY: inline; MARGIN-BOTTOM: 0px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/dw-mf-search-sprite.gif) #fff no-repeat 0px -220px; HEIGHT: 17px; COLOR: #ccc; FONT-SIZE: 0px !important; TOP: 21px; CURSOR: pointer; RIGHT: -59px; PADDING-TOP: 0px !important
}
#ibm-universal-nav-dw INPUT.ibm-btn-search:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/dw-mf-search-sprite.gif) no-repeat 0px -150px
}
#ibm-universal-nav-dw {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC5422', endColorstr='#E78D2C')); BACKGROUND-COLOR: #e07227; WIDTH: 930px; HEIGHT: 77px; OVERFLOW: hidden; BORDER-TOP: #c76f47 1px solid
}
#ibm-universal-nav-dw LI {
	FLOAT: left
}
#ibm-universal-nav-dw #ibm-unav-links-dw LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 35px; PADDING-RIGHT: 14px; PADDING-TOP: 24px
}
#ibm-universal-nav-dw #ibm-menu-links-dw LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; PADDING-RIGHT: 13px; HEIGHT: 50px; PADDING-TOP: 27px
}
#ibm-universal-nav-dw .ibm-menu-links-dw-cn#ibm-menu-links-dw LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; PADDING-TOP: 27px
}
#ibm-universal-nav-dw .ibm-menu-links-dw-ssa#ibm-menu-links-dw LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px; PADDING-TOP: 27px
}
#ibm-universal-nav-dw .ibm-menu-links-dw-br#ibm-menu-links-dw LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; PADDING-TOP: 27px
}
#ibm-universal-nav-dw .ibm-menu-links-dw-jp#ibm-menu-links-dw LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 27px
}
#ibm-universal-nav-dw .ibm-menu-links-dw-kr#ibm-menu-links-dw LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 27px
}
#ibm-universal-nav-dw .ibm-menu-links-dw-kr#ibm-menu-links-dw LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 22px; PADDING-RIGHT: 22px; PADDING-TOP: 27px
}
#ibm-universal-nav-dw .ibm-menu-links-dw-vn#ibm-menu-links-dw LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; PADDING-TOP: 27px
}
#ibm-universal-nav-dw .ibm-menu-links-dw-ru#ibm-menu-links-dw LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 18px; PADDING-RIGHT: 18px; PADDING-TOP: 27px
}
#ibm-universal-nav-dw #ibm-menu-links-dw LI:hover {
	BACKGROUND-COLOR: #d04212
}
#ibm-universal-nav-dw #ibm-menu-links-dw LI.current {
	BACKGROUND-COLOR: #d04212
}
#ibm-universal-nav-dw LI A {
	FONT-FAMILY: arial, sans-serif; COLOR: #fff; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none; -webkit-font-smoothing: antialiased
}
#ibm-page-tools-dw UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#ibm-footer-module-dw {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#ibm-page-tools-dw LI {
	LIST-STYLE-TYPE: none
}
#ibm-footer-module-dw LI {
	LIST-STYLE-TYPE: none
}
#dw-footer-top-row {
	BORDER-BOTTOM: #999 1px solid; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E78D2C', endColorstr='#CC5422'); BACKGROUND-COLOR: #e07227; WIDTH: 930px; HEIGHT: 30px; OVERFLOW: hidden; BORDER-TOP: #e76905 1px solid
}
#dw-footer-top-row LI {
	FLOAT: left
}
#dw-footer-top-row LI A {
	FONT-FAMILY: arial, sans-serif; COLOR: #fff; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; -webkit-font-smoothing: antialiased
}
#dw-footer-top-row #dw-foot-options LI {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 30px; MARGIN-LEFT: 10px; PADDING-TOP: 4px
}
#dw-footer-top-row #ibm-foot-options-dw LI {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 30px; MARGIN-LEFT: 10px; PADDING-TOP: 4px
}
#dw-footer-top-row #dw-foot-options LI:hover {
	BACKGROUND-COLOR: #d04212
}
#dw-footer-top-row #ibm-foot-options-dw LI:hover {
	BACKGROUND-COLOR: #d04212
}
#dw-footer-top-row #ibm-foot-options-dw LI.current {
	BACKGROUND-COLOR: #d04212
}
#dw-footer-top-row LI#dw-print {
	PADDING-LEFT: 10px; PADDING-RIGHT: 14px
}
#dw-footer-top-row LI#dw-foot-1 {
	PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#dw-footer-top-row LI#dw-foot-0 {
	PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#dw-footer-top-row LI#dw-foot-0 A {
	PADDING-RIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-white.gif) no-repeat right center
}
#dw-footer-top-row LI.dw-foot-0-jp#dw-foot-0 A {
	PADDING-RIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-white.gif) no-repeat right center
}
#dw-footer-top-row LI.dw-foot-0-ru#dw-foot-0 A {
	PADDING-RIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-white.gif) no-repeat right center
}
#dw-footer-top-row LI.dw-foot-0-kr#dw-foot-0 A {
	PADDING-RIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-white.gif) no-repeat right center
}
#dw-footer-top-row LI.dw-foot-0-vn#dw-foot-0 A {
	PADDING-RIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-white.gif) no-repeat right center
}
#dw-footer-top-row LI.dw-foot-0-ssa#dw-foot-0 A {
	PADDING-RIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-white.gif) no-repeat right center
}
#dw-footer-top-row LI.dw-foot-0-br#dw-foot-0 A {
	PADDING-RIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-white.gif) no-repeat right center
}
#dw-footer-top-row LI.dw-foot-0-cn#dw-foot-0 A {
	PADDING-RIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-white.gif) no-repeat right center
}
#dw-footer-top-row LI#dw-foot-1 A {
	PADDING-RIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-white.gif) no-repeat right center
}
#dw-footer-top-row LI.dw-foot-1-jp#dw-foot-1 A {
	PADDING-RIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-white.gif) no-repeat right center
}
#dw-footer-top-row LI.dw-foot-1-cn#dw-foot-1 A {
	PADDING-RIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-white.gif) no-repeat right center
}
#dw-footer-top-row LI.dw-foot-1-kr#dw-foot-1 A {
	PADDING-RIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/arrow-down-white.gif) no-repeat right center
}
#ibm-footer-module-dw {
	BORDER-BOTTOM: #ccc 1px solid; FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF'); BACKGROUND-COLOR: #fff9e1; MIN-HEIGHT: 300px; WIDTH: 930px
}
.ibm-ribbon-pane-dw {
	POSITION: relative; WIDTH: 930px; OVERFLOW: hidden
}
.ibm-ribbon-section-dw {
	POSITION: absolute; WIDTH: 20000em
}
#ibm-masthead-dw .ibm-ribbon-pane-dw .dw-mast-columns {
	WIDTH: 930px; FLOAT: left; CLEAR: none
}
#ibm-page-tools-dw .ibm-ribbon-pane-dw .dw-footer-columns {
	WIDTH: 930px; FLOAT: left; CLEAR: none
}
#ibm-my-menu-dw {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FEF2B6'); BACKGROUND-COLOR: #fef2b6; DISPLAY: none; FONT-SIZE: 0.8em; OVERFLOW: hidden
}
#ibm-common-menu-dw {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FEF2B6'); BACKGROUND-COLOR: #fef2b6; DISPLAY: none; FONT-SIZE: 0.8em; OVERFLOW: hidden
}
#dw-page-tools-menu {
	FILTER: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FEF2B6'); BACKGROUND-COLOR: #fef2b6; DISPLAY: none; FONT-SIZE: 0.8em; OVERFLOW: hidden
}
#ibm-common-menu-dw {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 12px
}
#dw-page-tools-menu {
	PADDING-BOTTOM: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 12px
}
#ibm-my-menu-dw .ibm-ribbon-pane-dw {
	HEIGHT: 225px
}
#ibm-common-menu-dw .ibm-ribbon-pane-dw {
	HEIGHT: 150px
}
#ibm-common-menu-dw .dw-ribbon-pane-en.ibm-ribbon-pane-dw {
	HEIGHT: 170px
}
#ibm-common-menu-dw .dw-ribbon-pane-jp.ibm-ribbon-pane-dw {
	HEIGHT: 170px
}
#dw-page-tools-menu {
	BORDER-BOTTOM: #999 1px solid; HEIGHT: 100px
}
#dw-page-tools-menu .ibm-ribbon-pane-dw {
	HEIGHT: 100px
}
#ibm-common-menu-dw .dw-mast-columns H2 {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: arial, sans-serif; COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#ibm-my-menu-dw .dw-mast-columns H2 {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: arial, sans-serif; COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#dw-page-tools-menu .dw-footer-columns H2 {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: arial, sans-serif; COLOR: #000; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#ibm-my-menu-dw LI {
	PADDING-BOTTOM: 5px
}
#ibm-common-menu-dw LI {
	PADDING-BOTTOM: 5px
}
#ibm-my-menu-dw LI A {
	FONT-FAMILY: arial, sans-serif; COLOR: #4a6694; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#ibm-common-menu-dw LI A {
	FONT-FAMILY: arial, sans-serif; COLOR: #4a6694; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#ibm-common-menu-dw LI A:hover {
	TEXT-DECORATION: underline
}
#ibm-my-menu-dw LI A:hover {
	TEXT-DECORATION: underline
}
#ibm-my-menu-dw .dw-mast-close LI A {
	PADDING-RIGHT: 20px; FONT-SIZE: 11px
}
#ibm-common-menu-dw .dw-mast-close LI A {
	PADDING-RIGHT: 20px; FONT-SIZE: 11px
}
#dw-page-tools-menu .ibm-link-list LI A {
	FONT-FAMILY: arial, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#ibm-footer-module-dw .dw-footer-columns LI A {
	FONT-FAMILY: arial, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#dw-page-tools-menu .ibm-link-list LI A {
	COLOR: #4a6694
}
#ibm-footer-module-dw .dw-footer-columns UL LI A {
	COLOR: #666
}
#dw-page-tools-menu .ibm-link-list LI A:hover {
	TEXT-DECORATION: underline
}
#ibm-footer-module-dw .dw-footer-columns UL LI A:hover {
	TEXT-DECORATION: underline
}
#ibm-my-menu-dw .dw-mast-columns {
	WIDTH: 440px
}
#ibm-common-menu-dw .dw-mast-columns {
	WIDTH: 760px
}
#ibm-my-menu-dw .dw-mast-col-1-1 {
	PADDING-BOTTOM: 12px; WIDTH: 890px; FLOAT: left; MARGIN-LEFT: 30px
}
#ibm-my-menu-dw .dw-mast-col-1-1 #dw-mast-dname {
	WIDTH: 790px
}
#ibm-my-menu-dw .dw-mast-col-2-1 {
	PADDING-BOTTOM: 16px; WIDTH: 200px; FLOAT: left; PADDING-TOP: 16px
}
#ibm-my-menu-dw .dw-mast-col-2-2 {
	PADDING-BOTTOM: 12px; WIDTH: 200px; FLOAT: left; PADDING-TOP: 42px
}
#ibm-my-menu-dw .dw-mast-close {
	PADDING-LEFT: 20px; FLOAT: right; PADDING-TOP: 10px
}
#ibm-common-menu-dw .dw-mast-close {
	MARGIN-TOP: -1px; PADDING-LEFT: 20px; FLOAT: right; PADDING-TOP: 0px
}
#ibm-my-menu-dw .dw-mast-col-1-1 .dw-mast-close LI A {
	PADDING-RIGHT: 10px !important
}
#ibm-my-menu-dw .dw-mast-col-2-1 {
	MARGIN-LEFT: 30px
}
#ibm-common-menu-dw .dw-mast-col-1-1 {
	MARGIN-LEFT: 30px
}
#ibm-common-menu-dw .dw-mast-col-2-1 {
	MARGIN-LEFT: 30px
}
#ibm-common-menu-dw .dw-mast-col-3-1 {
	MARGIN-LEFT: 30px
}
#ibm-common-menu-dw .dw-mast-col-1-1 {
	WIDTH: 380px; FLOAT: left
}
#ibm-common-menu-dw .dw-mast-col-2-1 {
	WIDTH: 160px; FLOAT: left
}
#ibm-common-menu-dw .dw-mast-col-2-2 {
	WIDTH: 160px; FLOAT: left
}
#ibm-common-menu-dw .dw-mast-col-3-1 {
	WIDTH: 160px; FLOAT: left
}
#ibm-common-menu-dw .dw-mast-col-3-2 {
	WIDTH: 160px; FLOAT: left
}
#ibm-common-menu-dw .dw-mast-col-3-3 {
	WIDTH: 160px; FLOAT: left
}
#ibm-common-menu-dw .dw-mast-col-3-3-en.dw-mast-col-3-3 {
	WIDTH: 175px; MARGIN-RIGHT: 30px
}
#ibm-common-menu-dw .dw-mast-more {
	WIDTH: 300px; FLOAT: left; MARGIN-LEFT: 20px
}
#ibm-common-menu-dw .dw-mast-more-en.dw-mast-more {
	WIDTH: 255px
}
#ibm-common-menu-dw .dw-mast-more UL.ibm-link-list A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 21px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
INPUT#pw_mf {
	PADDING-LEFT: 2px; WIDTH: 140px; FONT-FAMILY: arial, sans-serif; HEIGHT: 18px; FONT-SIZE: 0.9em; BORDER-TOP: #555 1px solid
}
INPUT#ibmid_mf {
	PADDING-LEFT: 2px; WIDTH: 140px; FONT-FAMILY: arial, sans-serif; HEIGHT: 18px; FONT-SIZE: 0.9em; BORDER-TOP: #555 1px solid
}
INPUT#dname_mf {
	PADDING-LEFT: 2px; WIDTH: 140px; FONT-FAMILY: arial, sans-serif; HEIGHT: 18px; FONT-SIZE: 0.9em; BORDER-TOP: #555 1px solid
}
INPUT.novalue#pw_mf {
	BORDER-BOTTOM: #ff0000 1px solid; BORDER-LEFT: #ff0000 1px solid; BORDER-TOP: #ff0000 1px solid; BORDER-RIGHT: #ff0000 1px solid
}
INPUT.novalue#ibmid_mf {
	BORDER-BOTTOM: #ff0000 1px solid; BORDER-LEFT: #ff0000 1px solid; BORDER-TOP: #ff0000 1px solid; BORDER-RIGHT: #ff0000 1px solid
}
INPUT.novalue#ibmid {
	BORDER-BOTTOM: #ff0000 1px solid; BORDER-LEFT: #ff0000 1px solid; BORDER-TOP: #ff0000 1px solid; BORDER-RIGHT: #ff0000 1px solid
}
INPUT.novalue#password {
	BORDER-BOTTOM: #ff0000 1px solid; BORDER-LEFT: #ff0000 1px solid; BORDER-TOP: #ff0000 1px solid; BORDER-RIGHT: #ff0000 1px solid
}
INPUT#dname_mf {
	MARGIN-RIGHT: 50px
}
INPUT.dw-mf-submit-btn {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-TOP: 12px; WIDTH: 93px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit.gif) no-repeat 0px -80px; HEIGHT: 30px; FONT-SIZE: 0px !important; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
INPUT.dw-mf-submit-btn:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit.gif) no-repeat 0px 0px
}
INPUT.dw-mf-submit-btn-jp {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 0 !important; MARGIN-TOP: 12px; WIDTH: 93px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-jp.gif) no-repeat 0px -80px; HEIGHT: 30px; COLOR: #ccc; MARGIN-LEFT: 20px; FONT-SIZE: 0px !important; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
INPUT.dw-mf-submit-btn-jp:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-jp.gif) no-repeat 0px 0px
}
INPUT.dw-mf-submit-btn-cn {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 0 !important; MARGIN-TOP: 12px; WIDTH: 93px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-cn.gif) no-repeat 0px -80px; HEIGHT: 30px; COLOR: #225476; MARGIN-LEFT: 20px; FONT-SIZE: 0px !important; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
INPUT.dw-mf-submit-btn-cn:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-cn.gif) no-repeat 0px 0px
}
INPUT.dw-mf-submit-btn-ru {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-TOP: 12px; WIDTH: 93px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-ru.gif) no-repeat 0px -80px; HEIGHT: 30px; MARGIN-LEFT: 16px; FONT-SIZE: 0px !important; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
INPUT.dw-mf-submit-btn-ru:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-ru.gif) no-repeat 0px 0px
}
INPUT.dw-mf-submit-btn-kr {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 0 !important; MARGIN-TOP: 12px; WIDTH: 93px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-kr.gif) no-repeat 0px -80px; HEIGHT: 30px; COLOR: #225476; MARGIN-LEFT: 18px; FONT-SIZE: 0px !important; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
INPUT.dw-mf-submit-btn-kr:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-kr.gif) no-repeat 0px 0px
}
INPUT.dw-mf-submit-btn-ssa {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 0 !important; MARGIN-TOP: 12px; WIDTH: 93px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-ssa.gif) no-repeat 0px -80px; HEIGHT: 30px; COLOR: #999; MARGIN-LEFT: 10px; FONT-SIZE: 0px !important; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
INPUT.dw-mf-submit-btn-ssa:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-ssa.gif) no-repeat 0px 0px
}
INPUT.dw-mf-submit-btn-br {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; LINE-HEIGHT: 0 !important; MARGIN-TOP: 12px; WIDTH: 93px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-br.gif) no-repeat 0px -80px; HEIGHT: 30px; COLOR: #999; FONT-SIZE: 0px !important; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
INPUT.dw-mf-submit-btn-br:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-br.gif) no-repeat 0px 0px
}
INPUT.dw-mf-submit-btn-vn {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN-TOP: 12px; WIDTH: 93px; BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-vn.gif) no-repeat 0px -80px; HEIGHT: 30px; MARGIN-LEFT: 20px; FONT-SIZE: 0px !important; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
INPUT.dw-mf-submit-btn-vn:hover {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/submit-vn.gif) no-repeat 0px 0px
}
#dw-mast-sso-form INPUT.dw-mf-submit-btn-br {
	MARGIN-LEFT: -2px
}
#dw-mast-dname-form INPUT.dw-mf-submit-btn-br {
	MARGIN-LEFT: 20px
}
#dw-mast-sso {
	FONT-FAMILY: arial, sans-serif; FONT-SIZE: 1em
}
#dw-mast-dname {
	FONT-FAMILY: arial, sans-serif; FONT-SIZE: 1em
}
#dw-mast-sso P {
	FONT-SIZE: 0.9em
}
#dw-mast-dname P {
	FONT-SIZE: 0.9em
}
#dw-mast-sso LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; FONT-SIZE: 0.9em; PADDING-TOP: 0px
}
#dw-mast-sso LI A {
	FONT-WEIGHT: bold
}
#dw-mast-sso-reg P {
	MARGIN: 1em 0px 8px
}
#dw-mast-sso-form DIV {
	FLOAT: left
}
#dw-mast-sso-update UL {
	FLOAT: left
}
#dw-mast-dname-form DIV {
	FLOAT: left
}
#dw-mast-sso-form {
	PADDING-TOP: 20px
}
#dw-mast-dname-form {
	MARGIN-TOP: 30px
}
.dw-mast-sso-id-ssa#dw-mast-sso-id {
	MARGIN-TOP: 6px
}
.dw-mast-sso-pw-ssa#dw-mast-sso-pw {
	MARGIN-TOP: 6px
}
.dw-mast-sso-target-ssa#dw-mast-sso-target {
	MARGIN-TOP: 6px
}
.dw-mast-sso-id-br#dw-mast-sso-id {
	MARGIN-TOP: 6px
}
.dw-mast-sso-pw-br#dw-mast-sso-pw {
	MARGIN-TOP: 6px
}
.dw-mast-sso-target-br#dw-mast-sso-target {
	MARGIN-TOP: 6px
}
.dw-mast-sso-id-vn#dw-mast-sso-id {
	MARGIN-TOP: 6px
}
.dw-mast-sso-pw-vn#dw-mast-sso-pw {
	MARGIN-TOP: 6px
}
.dw-mast-sso-target-vn#dw-mast-sso-target {
	MARGIN-TOP: 6px
}
.dw-mast-sso-id-cn#dw-mast-sso-id {
	MARGIN-TOP: 6px
}
.dw-mast-sso-pw-cn#dw-mast-sso-pw {
	MARGIN-TOP: 6px
}
.dw-mast-sso-target-cn#dw-mast-sso-target {
	MARGIN-TOP: 6px
}
.dw-mast-sso-id-jp#dw-mast-sso-id {
	MARGIN-TOP: 10px
}
.dw-mast-sso-pw-jp#dw-mast-sso-pw {
	MARGIN-TOP: 10px
}
.dw-mast-sso-target-jp#dw-mast-sso-target {
	MARGIN-TOP: 10px
}
.dw-mast-sso-target-jp#dw-mast-sso-target {
	MARGIN-LEFT: 6px
}
.dw-mast-sso-target-kr#dw-mast-sso-target {
	MARGIN-LEFT: 4px
}
#dw-mast-sso-id LABEL {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #555; FONT-SIZE: 0.9em; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#dw-mast-sso-pw LABEL {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #555; FONT-SIZE: 0.9em; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#dw-mast-sso-target LABEL {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #555; FONT-SIZE: 0.9em; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#dw-mast-dname-mf LABEL {
	PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; DISPLAY: block; COLOR: #555; FONT-SIZE: 0.9em; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#dw-mast-sso-id INPUT {
	PADDING-BOTTOM: 0px !important; MARGIN: 0px 16px 0px 0px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 0px !important
}
#dw-mast-sso-pw INPUT {
	PADDING-BOTTOM: 0px !important; MARGIN: 0px 16px 0px 0px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 0px !important
}
#dw-mast-sso-target SELECT {
	FONT-SIZE: 0.9em; BORDER-TOP: #555 1px solid
}
#dw-mast-sso-target OPTION {
	HEIGHT: 17px; FONT-SIZE: 1em
}
#dw-mast-sso-update UL {
	MARGIN-TOP: -14px
}
.dw-mast-sso-update-ru#dw-mast-sso-update UL {
	MARGIN-TOP: -6px
}
.dw-mast-sso-update-kr#dw-mast-sso-update UL {
	MARGIN-TOP: -4px
}
.dw-mast-sso-update-jp#dw-mast-sso-update UL {
	MARGIN-TOP: -12px
}
#dw-mast-sso-update UL.dw-mf-pwupdate {
	MARGIN-LEFT: 48px
}
.dw-mf-update-ie9 {
	PADDING-LEFT: 112px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-br {
	MARGIN-LEFT: 32px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-jp {
	MARGIN-LEFT: 20px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-ssa {
	MARGIN-LEFT: 52px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-kr {
	MARGIN-LEFT: 18px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-cn {
	MARGIN-LEFT: 80px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-vn {
	MARGIN-LEFT: 40px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-ru {
	MARGIN-LEFT: 38px
}
#dw-mast-sso-update UL.dw-mf-pwupdate LI {
	PADDING-BOTTOM: 2px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-br LI {
	PADDING-BOTTOM: 2px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-ssa LI {
	PADDING-BOTTOM: 2px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-ru LI {
	PADDING-BOTTOM: 2px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-vn LI {
	PADDING-BOTTOM: 2px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-cn LI {
	PADDING-BOTTOM: 2px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-kr LI {
	PADDING-BOTTOM: 2px
}
#dw-mast-sso-update UL.dw-mf-pwupdate-jp LI {
	PADDING-BOTTOM: 2px
}
#dw-mast-sso-terms {
	WIDTH: 200px; MARGIN-LEFT: 20px
}
.dw-mast-sso-terms-ru#dw-mast-sso-terms {
	WIDTH: 210px
}
.dw-mast-sso-terms-kr#dw-mast-sso-terms {
	WIDTH: 210px
}
#dw-mast-dname-terms {
	WIDTH: 200px
}
#dw-mast-sso-terms P {
	FONT-SIZE: 0.85em
}
#dw-mast-sso-terms P.dw-mf-perm-box {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#dw-mast-sso-terms INPUT#perm_mf {
	MARGIN: 0px 2px 0px -1px; VERTICAL-ALIGN: middle
}
#dw-mast-sso-terms P.dw-mast-sso-terms-en {
	MARGIN-TOP: 4px
}
#dw-mast-dname-terms P {
	MARGIN-TOP: 12px; FONT-SIZE: 0.85em
}
#dw-mast-sso-terms P.dw-mast-sso-terms-br {
	MARGIN-TOP: 2px; PADDING-RIGHT: 4px; MARGIN-BOTTOM: 6px
}
#dw-mast-dname-terms P.dw-mast-dname-terms-br {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 6px
}
#dw-mast-sso-terms P.dw-mast-sso-terms-ssa {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 6px
}
#dw-mast-dname-terms P.dw-mast-dname-terms-ssa {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 6px
}
#dw-mast-sso-terms P.dw-mast-sso-terms-kr {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 0px
}
#dw-mast-dname-terms P.dw-mast-dname-terms-kr {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 0px
}
#dw-mast-sso-terms P.dw-mast-sso-terms-jp {
	MARGIN-TOP: 6px; MARGIN-BOTTOM: -6px
}
#dw-mast-dname-terms P.dw-mast-dname-terms-jp {
	MARGIN-TOP: 6px; MARGIN-BOTTOM: -6px
}
#dw-mast-sso-terms P.dw-mast-sso-terms-vn {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 0px
}
#dw-mast-dname-terms P.dw-mast-dname-terms-vn {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 0px
}
#dw-mast-sso-terms P.dw-mast-sso-terms-ru {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 0px
}
#dw-mast-dname-terms P.dw-mast-dname-terms-vn {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 0px
}
#dw-mast-sso-update {
	CLEAR: left
}
#dw-mast-sso-text {
	CLEAR: left
}
#dw-mast-sso-text P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 30px; COLOR: #555; FONT-SIZE: 0.85em; PADDING-TOP: 12px
}
#dw-mast-dname-secure P {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 30px; COLOR: #555; FONT-SIZE: 0.85em; PADDING-TOP: 16px
}
#dw-mast-sso-text P.dw-mf-secure-vn {
	PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 16px; PADDING-LEFT: 20px !important; PADDING-RIGHT: 30px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-sso-text P.dw-mf-secure-br {
	PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 16px; PADDING-LEFT: 20px !important; PADDING-RIGHT: 30px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-sso-text P.dw-mf-secure-ru {
	PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 16px; PADDING-LEFT: 20px !important; PADDING-RIGHT: 30px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-sso-text P.dw-mf-secure-kr {
	PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 16px; PADDING-LEFT: 20px !important; PADDING-RIGHT: 30px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-sso-text P.dw-mf-secure-jp {
	PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 16px; PADDING-LEFT: 20px !important; PADDING-RIGHT: 30px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-sso-text P.dw-mf-secure-ssa {
	PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 16px; PADDING-LEFT: 20px !important; PADDING-RIGHT: 30px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-sso-text P.dw-mf-secure-cn {
	PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 16px; PADDING-LEFT: 20px !important; PADDING-RIGHT: 30px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-sso-text P.dw-mf-secure {
	PADDING-BOTTOM: 0px !important; LINE-HEIGHT: 16px; PADDING-LEFT: 20px !important; PADDING-RIGHT: 30px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-sso-text P.dw-mf-secure {
	MARGIN-TOP: -8px
}
#dw-mast-sso-text P.dw-mf-secure-cn {
	MARGIN-TOP: 0px
}
#dw-mast-sso-text P.dw-mf-secure-br {
	MARGIN-TOP: -8px
}
#dw-mast-sso-text P.dw-mf-secure-ssa {
	MARGIN-TOP: -10px
}
#dw-mast-sso-text P.dw-mf-secure-jp {
	MARGIN-TOP: 10px
}
#dw-mast-sso-text P.dw-mf-secure-kr {
	MARGIN-TOP: -10px
}
#dw-mast-sso-text P.dw-mf-secure-vn {
	MARGIN-TOP: -10px
}
#dw-mast-sso-text P.dw-mf-secure-ru {
	MARGIN-TOP: -4px
}
#dw-mast-dname-secure P.dw-mf-secure-vn {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 20px !important; PADDING-RIGHT: 0px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-dname-secure P.dw-mf-secure-br {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 20px !important; PADDING-RIGHT: 0px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-dname-secure P.dw-mf-secure-ru {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 20px !important; PADDING-RIGHT: 0px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-dname-secure P.dw-mf-secure-kr {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 20px !important; PADDING-RIGHT: 0px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-dname-secure P.dw-mf-secure-ssa {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 20px !important; PADDING-RIGHT: 0px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-dname-secure P.dw-mf-secure-cn {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 20px !important; PADDING-RIGHT: 0px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-dname-secure P.dw-mf-secure {
	PADDING-BOTTOM: 0px !important; PADDING-LEFT: 20px !important; PADDING-RIGHT: 0px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px; FLOAT: right; PADDING-TOP: 0px !important
}
#dw-mast-dname-secure P.dw-mf-secure-jp {
	PADDING-BOTTOM: 2px !important; PADDING-LEFT: 20px !important; PADDING-RIGHT: 0px !important; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px -1px; FLOAT: right; PADDING-TOP: 2px !important
}
*:first-child + HTML #dw-mast-dname-secure P.dw-mf-secure {
	BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px
}
#dw-mast-dname-secure P.dw-mf-secure-vn {
	MARGIN-TOP: 30px
}
#dw-mast-dname-secure P.dw-mf-secure {
	MARGIN-TOP: 30px
}
#dw-mast-dname-secure P.dw-mf-secure-kr {
	MARGIN-TOP: 14px
}
#dw-mast-dname-secure P.dw-mf-secure-cn {
	MARGIN-TOP: 22px
}
#dw-mast-dname-secure P.dw-mf-secure-br {
	MARGIN-TOP: 30px
}
#dw-mast-dname-secure P.dw-mf-secure-ssa {
	MARGIN-TOP: 30px
}
#dw-mast-dname-secure P.dw-mf-secure-jp {
	MARGIN-TOP: 28px
}
#dw-mast-dname-secure P.dw-mf-secure-ru {
	MARGIN-TOP: 14px
}
#dw-mast-dname-secure {
	MARGIN-TOP: 20px; CLEAR: left
}
#signin_error_mf {
	HEIGHT: 0px
}
#signin_dname_error_mf {
	HEIGHT: 0px
}
#signin_error_mf P.ibm-error {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 16px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/error.gif) no-repeat 0px 0px; PADDING-TOP: 0px
}
#signin_dname_error_mf P.ibm-error {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 16px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/error.gif) no-repeat 0px 0px; PADDING-TOP: 0px
}
#signin_error_mf P.ibm-error EM {
	FONT-STYLE: normal
}
#signin_dname_error_mf P.ibm-error EM {
	FONT-STYLE: normal
}
#dw-mast-auth {
	MARGIN-TOP: 16px
}
#dw-mast-auth DIV {
	FLOAT: left
}
#dw-mast-auth DIV#dw-mast-notify {
	MARGIN-LEFT: 100px
}
#dw-mast-auth DIV.dw-mast-more {
	FLOAT: left; MARGIN-LEFT: 100px
}
#dw-mast-auth DIV.dw-mast-more UL.ibm-link-list A {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 21px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
A.dw-more-link {
	BACKGROUND: url(//dw1.s81c.com/developerworks/i/mf/blue-arrow.gif) no-repeat 2px 1px; MARGIN-LEFT: -18px !important
}
.dw-mast-newgroup {
	PADDING-TOP: 20px
}
#dw-page-tools-menu .dw-footer-columns {
	WIDTH: 760px
}
#dw-page-tools-menu .dw-footer-col-1-1 {
	MARGIN-LEFT: 30px
}
#dw-page-tools-menu .dw-footer-col-3-1 {
	MARGIN-LEFT: 30px
}
#dw-page-tools-menu .dw-footer-col-1-1 {
	WIDTH: 180px; FLOAT: left
}
#dw-page-tools-menu .dw-footer-col-3-1 {
	WIDTH: 180px; FLOAT: left
}
#dw-page-tools-menu .dw-footer-col-3-2 {
	WIDTH: 180px; FLOAT: left
}
#dw-page-tools-menu .dw-footer-col-3-3 {
	WIDTH: 300px; FLOAT: left
}
#dw-page-tools-menu .dw-footer-col-3-2 {
	PADDING-TOP: 24px
}
#dw-page-tools-menu .dw-footer-col-3-3 {
	PADDING-TOP: 24px
}
#dw-page-tools-menu .dw-footer-close {
	PADDING-LEFT: 20px; FLOAT: right; PADDING-TOP: 0px
}
#dw-page-tools-menu .dw-footer-close LI A {
	PADDING-RIGHT: 20px; FONT-FAMILY: arial, sans-serif; COLOR: #4a6694; FONT-SIZE: 11px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
#ibm-footer-module-dw {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 20px
}
#ibm-footer-module-dw .dw-footer-col-5-1 {
	WIDTH: 176px; FLOAT: left
}
#ibm-footer-module-dw .dw-footer-col-5-2 {
	WIDTH: 176px; FLOAT: left
}
#ibm-footer-module-dw .dw-footer-col-5-3 {
	WIDTH: 176px; FLOAT: left
}
#ibm-footer-module-dw .dw-footer-col-5-4 {
	WIDTH: 176px; FLOAT: left
}
#ibm-footer-module-dw .dw-footer-col-5-5 {
	WIDTH: 176px; FLOAT: left
}
#ibm-footer-module-dw .dw-footer-col-5-1 {
	MARGIN-LEFT: 20px
}
#ibm-footer-module-dw .dw-footer-col-5-5 {
	PADDING-TOP: 20px
}
#ibm-footer-module-dw .dw-footer-col-6-1 {
	WIDTH: 150px; FLOAT: left
}
#ibm-footer-module-dw .dw-footer-col-6-2 {
	WIDTH: 150px; FLOAT: left
}
#ibm-footer-module-dw .dw-footer-col-6-3 {
	WIDTH: 150px; FLOAT: left
}
#ibm-footer-module-dw .dw-footer-col-6-5 {
	WIDTH: 150px; FLOAT: left
}
#ibm-footer-module-dw .dw-footer-col-6-6 {
	WIDTH: 150px; FLOAT: left
}
#ibm-footer-module-dw .dw-footer-col-6-4 {
	WIDTH: 130px; FLOAT: left
}
#ibm-footer-module-dw .dw-footer-col-6-1 {
	MARGIN-LEFT: 20px
}
#ibm-footer-module-dw .dw-footer-col-6-2 {
	PADDING-TOP: 20px
}
#ibm-footer-module-dw .dw-footer-col-6-6 {
	PADDING-LEFT: 30px
}
#ibm-footer-module-dw .dw-footer-columns {
	PADDING-TOP: 5px
}
#ibm-footer-module-dw .dw-footer-columns H2 {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: arial, sans-serif; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#ibm-footer-module-dw .dw-footer-columns H2.dw-footer-newgroup {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 20px
}
#ibm-footer-module-dw .dw-footer-columns H2.dw-footer-headonly {
	COLOR: #555
}
#ibm-footer-module-dw .dw-footer-columns H2.dw-footer-more {
	PADDING-TOP: 4px
}
#ibm-footer-module-dw .dw-footer-columns H2 A {
	COLOR: #4a6694 !important; TEXT-DECORATION: none
}
#ibm-footer-module-dw .dw-footer-columns H2 A:hover {
	TEXT-DECORATION: underline
}
#ibm-footer-module-dw .dw-footer-columns UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#ibm-footer-module-dw .dw-footer-columns UL LI {
	PADDING-BOTTOM: 4px
}
#ibm-footer-module-dw .dw-footer-columns UL LI.dw-footer-newline {
	LINE-HEIGHT: 90%
}
#ibm-footer-module-dw .dw-footer-columns UL LI.dw-footer-newline-en.dw-footer-newline {
	PADDING-TOP: 3px
}
.dw-footer-newgroup {
	PADDING-TOP: 20px
}
#ibm-footer-module-dw #dw-footer-selectlang {
	CLEAR: left
}
#ibm-footer-module-dw #dw-footer-selectlang H2 {
	PADDING-BOTTOM: 0px !important; MARGIN: 0px; PADDING-LEFT: 0px !important; PADDING-RIGHT: 0px !important; PADDING-TOP: 20px !important
}
#ibm-footer-module-dw #dw-footer-selectlang H2 A {
	PADDING-LEFT: 20px; COLOR: #555; FONT-SIZE: 13px
}
#ibm-footer-module-dw #dw-footer-selectlang UL {
	DISPLAY: inline; MARGIN-LEFT: 12px !important; -moz-padding-start: 0px
}
#ibm-footer-module-dw #dw-footer-selectlang UL LI {
	PADDING-LEFT: 0px !important; DISPLAY: inline
}
#ibm-footer-module-dw #dw-footer-selectlang UL LI A {
	PADDING-LEFT: 8px; PADDING-RIGHT: 8px; COLOR: #666; FONT-SIZE: 12px; TEXT-DECORATION: none
}
#dw-mast-top-0 {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
#dw-mast-top-0-0 {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
#dw-mast-top-1-0 {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
#dw-mast-nav-0-0 {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
#dw-mast-nav-1-0 {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
#dw-mast-nav-2-0 {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
#dw-mast-nav-3-0 {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
#dw-foot-0-0 {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
#dw-foot-1-0 {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
*:first-child + HTML INPUT#q {
	COLOR: #333
}
*:first-child + HTML INPUT.ibm-btn-search-jp.ibm-btn-search {
	TOP: 19px
}
*:first-child + HTML #dw-mast-sso-reg {
	MARGIN-TOP: 14px
}
*:first-child + HTML #dw-mast-sso-reg P {
	MARGIN: 1em 0px 20px
}
*:first-child + HTML #signin_error_mf {
	MARGIN-TOP: -12px
}
*:first-child + HTML .dw-mast-sso-id-ssa#dw-mast-sso-id {
	MARGIN-TOP: 10px
}
*:first-child + HTML .dw-mast-sso-pw-ssa#dw-mast-sso-pw {
	MARGIN-TOP: 10px
}
*:first-child + HTML .dw-mast-sso-target-ssa#dw-mast-sso-target {
	MARGIN-TOP: 10px
}
*:first-child + HTML .dw-mast-sso-id-br#dw-mast-sso-id {
	MARGIN-TOP: 10px
}
*:first-child + HTML .dw-mast-sso-pw-br#dw-mast-sso-pw {
	MARGIN-TOP: 10px
}
*:first-child + HTML .dw-mast-sso-target-br#dw-mast-sso-target {
	MARGIN-TOP: 10px
}
*:first-child + HTML .dw-mast-sso-id-vn#dw-mast-sso-id {
	MARGIN-TOP: 10px
}
*:first-child + HTML .dw-mast-sso-pw-vn#dw-mast-sso-pw {
	MARGIN-TOP: 10px
}
*:first-child + HTML .dw-mast-sso-target-vn#dw-mast-sso-target {
	MARGIN-TOP: 10px
}
*:first-child + HTML #dw-mast-sso-terms INPUT#perm_mf {
	MARGIN: 0px 2px 0px -4px
}
*:first-child + HTML .dw-mast-sso-terms-kr#dw-mast-sso-terms {
	WIDTH: 230px
}
*:first-child + HTML #dw-mast-sso-update UL {
	MARGIN-TOP: -10px
}
*:first-child + HTML .dw-mast-sso-update-ru#dw-mast-sso-update UL {
	MARGIN-TOP: -8px
}
*:first-child + HTML .dw-mast-sso-update-kr#dw-mast-sso-update UL {
	MARGIN-TOP: -8px
}
*:first-child + HTML .dw-mast-sso-update-jp#dw-mast-sso-update UL {
	MARGIN-TOP: -10px
}
*:first-child + HTML #dw-mast-sso-text P {
	PADDING-BOTTOM: 0px; MARGIN-TOP: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 30px; PADDING-TOP: 0px
}
*:first-child + HTML #dw-mast-sso-text P.dw-mf-secure {
	MARGIN-TOP: -18px
}
*:first-child + HTML #dw-mast-sso-text P.dw-mf-secure-cn {
	MARGIN-TOP: -10px
}
*:first-child + HTML #dw-mast-sso-text P.dw-mf-secure-vn {
	MARGIN-TOP: -22px
}
*:first-child + HTML #dw-mast-sso-text P.dw-mf-secure-ssa {
	MARGIN-TOP: -20px
}
*:first-child + HTML #dw-mast-sso-text P.dw-mf-secure-br {
	MARGIN-TOP: -16px
}
*:first-child + HTML #dw-mast-sso-text P.dw-mf-secure-ru {
	MARGIN-TOP: -16px
}
*:first-child + HTML #dw-mast-sso-text P.dw-mf-secure-jp {
	MARGIN-TOP: 10px
}
*:first-child + HTML #dw-mast-sso-text P.dw-mf-secure-kr {
	MARGIN-TOP: -16px
}
*:first-child + HTML #dw-mast-sso-text P.dw-mf-secure-br {
	MARGIN-TOP: -16px
}
*:first-child + HTML #dw-mast-sso-text P.dw-mf-secure-ru {
	MARGIN-TOP: -8px
}
*:first-child + HTML #dw-mast-sso-terms INPUT#perm_box {
	MARGIN: 0px 0px 0px -2px
}
*:first-child + HTML #dw-mast-sso-terms P.dw-mast-sso-terms-ssa {
	MARGIN-BOTTOM: 0px
}
*:first-child + HTML #dw-mast-sso-terms P.dw-mast-sso-terms-br {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 0px
}
*:first-child + HTML #dw-mast-sso-terms P.dw-mast-sso-terms-vn {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 0px
}
*:first-child + HTML #dw-mast-sso-terms P.dw-mast-sso-terms-cn {
	MARGIN-TOP: 8px
}
*:first-child + HTML #dw-mast-sso-terms P.dw-mast-sso-terms-kr {
	MARGIN-TOP: 4px; MARGIN-BOTTOM: 0px
}
*:first-child + HTML #dw-mast-sso-terms P.dw-mast-sso-terms-jp {
	MARGIN-BOTTOM: -12px
}
*:first-child + HTML #dw-mast-sso-terms P.dw-mast-sso-terms-ru {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 0px
}
*:first-child + HTML #dw-mast-dname P {
	MARGIN: 12px 0px 0px
}
*:first-child + HTML #dw-mast-dname-form {
	MARGIN-TOP: 40px
}
*:first-child + HTML #dw-mast-dname-secure P.dw-mf-secure {
	MARGIN-TOP: -6px
}
*:first-child + HTML #dw-mast-dname-secure P.dw-mf-secure-cn {
	MARGIN-TOP: -24px
}
*:first-child + HTML #dw-mast-dname-secure P.dw-mf-secure-ssa {
	MARGIN-TOP: -18px
}
*:first-child + HTML #dw-mast-dname-secure P.dw-mf-secure-jp {
	MARGIN-TOP: -16px
}
*:first-child + HTML #dw-mast-dname-secure P.dw-mf-secure-vn {
	MARGIN-TOP: -18px
}
*:first-child + HTML #dw-mast-dname-secure P.dw-mf-secure-br {
	MARGIN-TOP: -18px
}
*:first-child + HTML #dw-mast-dname-secure P.dw-mf-secure-ru {
	MARGIN-TOP: -18px
}
*:first-child + HTML #dw-mast-dname-secure P.dw-mf-secure-kr {
	MARGIN-TOP: -24px
}
*:first-child + HTML #dw-mast-sso-text P.dw-mf-secure-jp {
	LINE-HEIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px
}
*:first-child + HTML #dw-mast-dname-secure P.dw-mf-secure-jp {
	LINE-HEIGHT: 16px; BACKGROUND: url(//dw1.s81c.com/i/v16/icons/lock.gif) no-repeat 0px 0px
}
