grant codeBase "file:/c:/java/ch8/-" {
  permission java.awt.AWTPermission "accessClipboard";
  permission java.io.FilePermission "c:\\autoexec.bat", "read,write";
};

