<html>
      <head>
      <title>Velocity Servlet Test </title>
      </head>
 
      <body>
	      <h1>$hello</h1> 
	      #foreach($rule in $rules)
	      	$rule<br/>
	      #end
      </body>
  </html>
  
  output:
  
     Hello Velocity World!
 
      Hello
      Velocity
      World!